<section class="section" id="about">
  <h2 class="title-AboutUs">About Us</h2>
  <div class="game-section">
    <div class="image-block">
      <img src="./img/aboutUs/1 About us Photo.png" alt="boosters" />
    </div>

    <div class="description-block">
      <p class="description-text">
        Crystal Island is a thrilling match-3 adventure game where players solve
        puzzles to restore a magical island to its former glory. Players can
        explore different regions of the island, each with its own unique themes
        and challenges.
      </p>
      <img
        class="description-img-2"
        src="./img/aboutUs/2 About us Photo.png"
        alt="More levels"
      />
    </div>

    <div class="image-block">
      <img src="./img/aboutUs/3 About us Photo.png" alt="rebuild your camp" />
    </div>
  </div>
</section>
