<section class="section-aboutUs" id="section-aboutUs">
  <h2 class="title-AboutUs">About Us</h2>
  <p class="aboutUs-text">
    Crystal Island is a thrilling match-3 adventure game where players solve
    puzzles to restore a magical island to its former glory. Players can explore
    different regions of the island, each with its own unique themes and
    challenges.
  </p>
  <div class="aboutUs-container-img">
    <img
      src="../img/aboutUs/1 About us Photo.png"
      alt="boosters"
      class="aboutUs-img"
      width="270"
      height="481"
    />
    <img
      src="../img/aboutUs/3 About us Photo.png"
      alt="rebuild your camp"
      class="aboutUs-img"
      width="270"
      height="481"
    />
    <img
      src="../img/aboutUs/2 About us Photo.png"
      alt="more levels"
      class="aboutUs-img"
    />
  </div>
</section>
