<section class="section advantages-section" id="advantages">
  <h2 class="adv-title">Advantages</h2>
  <div class="container adv-container">
    <div class="adv-swiper">
      <ul class="adv-list swiper-wrapper">
        <li class="adv-list-item swiper-slide">
          <p class="adv-description">Unique match-3 gameplay with a twist</p>
          <div class="adv-img-wrap">
            <picture>
              <source
                srcset="./img/advantages/1.png 1x, ./img/advantages/1@2x.png 2x"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/advantages/1-mob.png    1x,
                  ./img/advantages/1-mob@2x.png 2x
                "
                media="(max-width: 1199px)"
              />
              <img
                src="./img/advantages/1-mob.png"
                alt="Advantages-1"
                loading="lazy"
                class="adv-img"
              />
            </picture>
          </div>
        </li>
        <li class="adv-list-item swiper-slide">
          <p class="adv-description">
            Beautifully crafted levels with intricate designs
          </p>
          <div class="adv-img-wrap">
            <picture>
              <source
                srcset="./img/advantages/2.jpg 1x, ./img/advantages/2@2x.jpg 2x"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/advantages/2-mob.jpg    1x,
                  ./img/advantages/2-mob@2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <img
                src="./img/advantages/2-mob.jpg"
                alt="Advantages-2"
                loading="lazy"
                class="adv-img"
              />
            </picture>
          </div>
        </li>
        <li class="adv-list-item swiper-slide">
          <p class="adv-description">Dynamic obstacles and unique challenges</p>
          <div class="adv-img-wrap">
            <picture>
              <source
                srcset="./img/advantages/3.jpg 1x, ./img/advantages/3@2x.jpg 2x"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/advantages/3-mob.jpg    1x,
                  ./img/advantages/3-mob@2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <img
                src="./img/advantages/3-mob.jpg"
                alt="Advantages-3"
                loading="lazy"
                class="adv-img"
              />
            </picture>
          </div>
        </li>
        <li class="adv-list-item swiper-slide">
          <p class="adv-description">Engaging power-ups and bonuses</p>
          <div class="adv-img-wrap">
            <picture>
              <source
                srcset="./img/advantages/4.jpg 1x, ./img/advantages/4@2x.jpg 2x"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/advantages/4-mob.jpg    1x,
                  ./img/advantages/4-mob@2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <img
                src="./img/advantages/4-mob.jpg"
                alt="Advantages-4"
                loading="lazy"
                class="adv-img"
              />
            </picture>
          </div>
        </li>
        <li class="adv-list-item swiper-slide">
          <p class="adv-description">
            Regular updates with new features and levels
          </p>
          <div class="adv-img-wrap">
            <picture>
              <source
                srcset="./img/advantages/5.jpg 1x, ./img/advantages/5@2x.jpg 2x"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/advantages/5-mob.jpg    1x,
                  ./img/advantages/5-mob@2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <img
                src="./img/advantages/5-mob.jpg"
                alt="Advantages-5"
                loading="lazy"
                class="adv-img"
              />
            </picture>
          </div>
        </li>
        <li class="adv-list-item swiper-slide">
          <p class="adv-description">
            Engaging storyline that unfolds with each level
          </p>
          <div class="adv-img-wrap">
            <picture>
              <source
                srcset="./img/advantages/6.jpg 1x, ./img/advantages/6@2x.jpg 2x"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/advantages/6-mob.jpg    1x,
                  ./img/advantages/6-mob@2x.jpg 2x
                "
                media="(max-width: 1199px)"
              />
              <img
                src="./img/advantages/6-mob.jpg"
                alt="Advantages-6"
                loading="lazy"
                class="adv-img"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev adv-button-prev">
        <svg
          class="adv-swiper-icon"
          width="21"
          height="37"
          aria-label="Previous slide"
        >
          <use href="./img/sprite.svg#icon-Left_arrow"></use>
        </svg>
      </div>
      <div class="swiper-button-next adv-button-next">
        <svg
          class="adv-swiper-icon"
          width="21"
          height="37"
          aria-label="Next slide"
        >
          <use href="./img/sprite.svg#icon-Reght_arrow"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
