<footer class="footer">
  <div class="container container-footer">
    <div class="text-footer">All rights reserved beststartplay.com | 2024</div>
    <div class="footer-underline">
      <nav class="nav-footer">
        <ul class="nav-list-footer">
          <li class="nav-item-footer">
            <a
              href="./privacy-policy.html"
              class="nav-link-footer"
              target="_blank"
              rel="noopener noreferrer"
              >Privacy Policy /</a
            >
          </li>
          <li class="nav-item-footer">
            <a href="./terms-and-conditions.html" class="nav-link-footer"
              >Terms and Conditions</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
