<section class="section" id="gallery">
  <h2 class="title-gallery">Gallery</h2>

  <div class="gallery-container">
    <div class="gallery-slider">
      <div class="gallery swiper-wrapper">
        <img
          src="../img/gallery/1 .1x.png"
          alt="Image 1"
          class="gallery-item swiper-slide"/>
        <img src="./img/gallery/2.1x.png" alt="Image 2" class="gallery-item swiper-slide" />
        <img src="./img/gallery/3.1x.png" alt="Image 3" class="gallery-item swiper-slide" />
        <img src="./img/gallery/4.1x.png" alt="Image 4" class="gallery-item swiper-slide" />
        <img src="./img/gallery/5.1x.png" alt="Image 5" class="gallery-item swiper-slide" />
        <img src="./img/gallery/6.1x.png" alt="Image 6" class="gallery-item swiper-slide" />
        <img src="./img/gallery/7.1x.png" alt="Image 7" class="gallery-item swiper-slide" />
      </div>
      <div class="swiper-pagination"></div>
      <button type="button" id="prev" class="gallery-prev-btn">
      <svg width="21" height="37" aria-label="Previous slide">
        <use href="./img/sprite.svg#icon-Left_arrow"></use>
      </svg>
    </button>

    <button type="button" id="next" class="gallery-next-btn">
      <svg width="21" height="37" aria-label="Next slide">
        <use href="./img/sprite.svg#icon-Reght_arrow"></use>
      </svg>
    </button>

    </div>
  </div>

  </div>

  <!-- <div class="gallery-controls">


  </div> -->
</section>

<!-- додаткові стрілочки -->
<!-- <svg
  width="22"
  height="38"
  viewBox="0 0 22 38"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  >
  <path
  d="M21.0527 34.3563L18.0465 37.3597L1.6727 20.9915C1.40877 20.7292 1.1993 20.4173 1.05636 20.0738C0.913429 19.7303 0.839844 19.3618 0.839844 18.9897C0.839844 18.6177 0.913429 18.2492 1.05636 17.9057C1.1993 17.5622 1.40877 17.2503 1.6727 16.988L18.0465 0.611328L21.0499 3.61466L5.68187 18.9855L21.0527 34.3563Z"
  fill="black"
  />
</svg> -->
<!-- <svg
  width="21"
  height="37"
  viewBox="0 0 21 37"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  >
  <path
  d="M3.24249e-05 3.00304L3.0062 -0.000286102L19.38 16.3679C19.644 16.6302 19.8534 16.942 19.9964 17.2856C20.1393 17.6291 20.2129 17.9975 20.2129 18.3696C20.2129 18.7417 20.1393 19.1101 19.9964 19.4537C19.8534 19.7972 19.644 20.1091 19.38 20.3714L3.0062 36.748L0.00286484 33.7447L15.3709 18.3739L3.24249e-05 3.00304Z"
  fill="black"
  />
</svg> -->
