<section class="section" id="gallery">
  <div class="container gallery-container">
    <h2 class="title-gallery">Gallery</h2>
    <div class="gallery-slider">
      <div class="gallery swiper-wrapper">
        <div class="swiper-slide gal-img-wrap">
          <picture>
            <source srcset="./img/gallery/1.1x.png 1x, ./img/gallery/1.2x.png 2x" media="(min-width: 1200px)">
            <source srcset="./img/gallery/1.1x.png 1x, ./img/gallery/1.2x.png 2x" media="(max-width: 1199px)">
            <img src="./img/gallery/1.1x.png" alt="Image 1" class="gallery-item" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide gal-img-wrap">
          <picture>
            <source srcset="./img/gallery/2.1x.png 1x, ./img/gallery/2.2x.png 2x" media="(min-width: 1200px)">
            <source srcset="./img/gallery/2.1x.png 1x, ./img/gallery/2.2x.png 2x" media="(max-width: 1199px)">
            <img src="./img/gallery/2.1x.png" alt="Image 2" class="gallery-item" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide gal-img-wrap">
          <picture>
            <source srcset="./img/gallery/3.1x.png 1x, ./img/gallery/3.2x.png 2x" media="(min-width: 1200px)">
            <source srcset="./img/gallery/3.1x.png 1x, ./img/gallery/3.2x.png 2x" media="(max-width: 1199px)">
            <img src="./img/gallery/3.1x.png" alt="Image 3" class="gallery-item" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide gal-img-wrap">
          <picture>
            <source srcset="./img/gallery/4.1x.png 1x, ./img/gallery/4.2x.png 2x" media="(min-width: 1200px)">
            <source srcset="./img/gallery/4.1x.png 1x, ./img/gallery/4.2x.png 2x" media="(max-width: 1199px)">
            <img src="./img/gallery/4.1x.png" alt="Image 4" class="gallery-item" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide gal-img-wrap">
          <picture>
            <source srcset="./img/gallery/5.1x.png 1x, ./img/gallery/5.2x.png 2x" media="(min-width: 1200px)">
            <source srcset="./img/gallery/5.1x.png 1x, ./img/gallery/5.2x.png 2x" media="(max-width: 1199px)">
            <img src="./img/gallery/5.1x.png" alt="Image 5" class="gallery-item" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide gal-img-wrap">
          <picture>
            <source srcset="./img/gallery/6.1x.png 1x, ./img/gallery/6.2x.png 2x" media="(min-width: 1200px)">
            <source srcset="./img/gallery/6.1x.png 1x, ./img/gallery/6.2x.png 2x" media="(max-width: 1199px)">
            <img src="./img/gallery/6.1x.png" alt="Image 6" class="gallery-item" loading="lazy">
          </picture>
        </div>
        <div class="swiper-slide gal-img-wrap">
          <picture>
            <source srcset="./img/gallery/7.1x.png 1x, ./img/gallery/7.2x.png 2x" media="(min-width: 1200px)">
            <source srcset="./img/gallery/7.1x.png 1x, ./img/gallery/7.2x.png 2x" media="(max-width: 1199px)">
            <img src="./img/gallery/7.1x.png" alt="Image 7" class="gallery-item" loading="lazy">
          </picture>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev gal-button-prev">
        <svg class="adv-swiper-icon" width="21" height="37" aria-label="Previous slide">
          <use href="./img/sprite.svg#icon-Left_arrow"></use>
        </svg>
      </div>
      <div class="swiper-button-next gal-button-next">
        <svg class="adv-swiper-icon" width="21" height="37" aria-label="Next slide">
          <use href="./img/sprite.svg#icon-Reght_arrow"></use>
        </svg>
      </div>
    </div>
  </div>
</section>