<section class="section" id="section-gallery">
  <h2 class="title-Gallery">Gallery</h2>
  <div class="gallery-wrapper">
    <div class="gallery">
      <img src="../img/gallery/1 .1x.png" alt="Image 1" class="gallery-item" />
      <img
        src="../img/gallery/2.1x.png"
        width="270"
        height="393"
        alt="Image 2"
        class="gallery-item"
      />
      <img src="../img/gallery/3.1x.png" alt="Image 3" class="gallery-item" />
      <img src="../img/gallery/4.1x.png" alt="Image 4" class="gallery-item" />
      <img src="../img/gallery/5.1x.png" alt="Image 5" class="gallery-item" />
      <img src="../img/gallery/6.1x.png" alt="Image 6" class="gallery-item" />
      <img src="../img/gallery/7.1x.png" alt="Image 7" class="gallery-item" />
    </div>
  </div>

  <div class="controls">
    <button id="prev">Prev</button>
    <button id="next">Next</button>
  </div>

  <!-- <div class="gallery-container">
    <div class="gallery-wrapper">
      <div class="gallery-slide">
        <img src="../img/gallery/1 .1x.png" alt="Image 1" />
      </div>
      <div class="gallery-slide">
        <img src="../img/gallery/2.1x.png" alt="Image 2" />
      </div>
      <div class="gallery-slide">
        <img src="../img/gallery/3.1x.png" alt="Image 3" />
      </div>
      <div class="gallery-slide">
        <img src="../img/gallery/4.1x.png" alt="Image 4" />
      </div>
      <div class="gallery-slide">
        <img src="../img/gallery/5.1x.png" alt="Image 5" />
      </div>
      <div class="gallery-slide">
        <img src="../img/gallery/6.1x.png" alt="Image 6" />
      </div>
      <div class="gallery-slide">
        <img src="../img/gallery/7.1x.png" alt="Image 7" />
      </div>
    </div>
    <div class="gallery-nav">
      <button class="prev-btn">←</button>
      <button class="next-btn">→</button>
    </div>
  </div> -->
</section>
