<header>
  <div class="header-container-backdrop">
    <div class="header-container">
      <div class="header-logo">
        <picture>
          <source srcset="./img/header/logo-desk.png 1x, ./img/header/logo-desk@2x.png 2x" media="(min-width: 1200px)">
          <source srcset="./img/header/logo-mob.png 1x, ./img/header/logo-mob@2x.png 2x" media="(max-width: 1199px)">
          <img src="./img/header/logo-mob.png" alt="logo">
        </picture>
        <div class="logo-ribbon">
          <svg class=" header-logo-icon">
            <use href="./img/sprite.svg#icon-logo-tittle" />
          </svg>
          <span class="logo-underline"></span>
        </div>
      </div>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item"><a class="header-nav-link" href="#home" onclick="this.blur();">Home</a></li>
          <li class="header-nav-item"><a class="header-nav-link" href="#advantages"
              onclick="this.blur();">Advantages</a>
          </li>
          <li class="header-nav-item"><a class="header-nav-link" href="#benefits" onclick="this.blur();">Benefits</a>
          </li>
          <li class="header-nav-item"><a class="header-nav-link" href="#reviews" onclick="this.blur();">Reviews</a></li>
          <li class="header-nav-item"><a class="header-nav-link" href="#about" onclick="this.blur();">About Us</a></li>
          <li class="header-nav-item"><a class="header-nav-link" href="#gallery" onclick="this.blur();">Gallery</a></li>
        </ul>
      </nav>
      <button class="header-menu-btn" type="button" aria-label="Menu">
        <svg class="header-burger-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-burger-menu" />
        </svg>
      </button>
    </div>
  </div>
</header>