<section class="section hero-section" id="home">
  <div class="container">
    <!-- <div class="hero-content"> -->
        <ul>
            <li>
                <picture></picture>
            </li>
            <li>
                <picture></picture>
            </li>
        </ul>
      <h1 class="hero-title">Crystal Island</h1>
      <p class="hero-description">
        Discover the Mysteries of Crystal Island and Unearth Treasures Beyond Imagination!
      </p>
      <a class="hero-btn" href="#advantages">Google Play</a>
    <!-- </div> -->
  </div>
</section>