<section class="section hero-section" id="home">
  <div class="container hero-container">
    <div class="hero-monkey">
      <picture>
        <source srcset="./img/hero/monkey.png 1x, ./img/hero/monkey@2x.png 2x" media="(min-width: 1200px)">
        <img src="./img/hero/monkey.png" alt="monkey" loading="lazy" class="hero-monkey-img">
      </picture>
    </div>
    <ul class="hero-pics-list">
      <li class="hero-img-item">
        <div class="hero-blur"></div>
        <div class="hero-img-wrapper">
          <picture>
            <source srcset="./img/hero/hero-1.png 1x, ./img/hero/hero-1@2x.png 2x" media="(min-width: 1200px)">
            <source srcset="./img/hero/hero-1-mob.png 1x, ./img/hero/hero-1-mob@2x.png 2x" media="(max-width: 1199px)">
            <img src="./img/hero/hero-1-mob.png" alt="hero-card-1" loading="lazy" class="hero-img">
          </picture>
        </div>
      </li>
      <li class="hero-img-item">
        <div class="hero-blur"></div>
        <div class="hero-img-wrapper">
          <picture>
            <source srcset="./img/hero/hero-2.png 1x, ./img/hero/hero-2@2x.png 2x" media="(min-width: 1200px)">
            <source srcset="./img/hero/hero-2-mob.png 1x, ./img/hero/hero-2-mob@2x.png 2x" media="(max-width: 1199px)">
            <img src="./img/hero/hero-2-mob.png" alt="hero-card-2" loading="lazy" class="hero-img">
          </picture>
        </div>
      </li>
    </ul>
    <div class="hero-content">
      <h1 class="hero-title">Crystal Island</h1>
      <p class="hero-description">
        Discover the Mysteries of Crystal Island and Unearth Treasures Beyond Imagination!
      </p>
      <a class="hero-btn" href="https://play.google.com/store/apps/details?id=com.qublix.crystalisland" target="_blank" rel="noopener noreferrer">Google Play</a>
    </div>
  </div>
</section>