<div class="backdrop is-hidden">
  <div class="modal">
    <button class="close-btn" type="button" aria-label="Close menu">
      <svg class="close-icon" width="24" height="24">
        <use href="./img/header/symbol-defs.svg#icon-close-menu" />
      </svg>
    </button>
    <nav class="modal-nav">
      <ul class="modal-nav-list">
        <li class="modal-nav-item"><a class="modal-nav-link" href="#">Advantages</a></li>
        <li class="modal-nav-item"><a class="modal-nav-link" href="#">Home</a></li>
        <li class="modal-nav-item"><a class="modal-nav-link" href="#">Benefits</a></li>
        <li class="modal-nav-item"><a class="modal-nav-link" href="#">Reviews</a></li>
        <li class="modal-nav-item"><a class="modal-nav-link" href="#">About Us</a></li>
        <li class="modal-nav-item"><a class="modal-nav-link" href="#">Gallery</a></li>
      </ul>
    </nav>
  </div>
</div>