<section class="section" id="reviews">
  <div class="reviews-container">
    <h2 class="title-Reviews">Reviews</h2>
    <div class="reviews-slider">
      <div class="review-card">
        <div class="review-header">
          <img
            src="./img/reviews/gemseeker.1x.png"
            class="profile-img"
            width="52"
            height="52"
            alt="GemSeeker"
          />
          <div class="review-info">
            <h3 class="review-name">GemSeeker</h3>
            <p class="review-date">07.02.2024</p>
            <p class="review-text">
              Absolutely stunning visuals and really fun gameplay mechanics!
            </p>
            <ul class="reviews-stars">
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
        </ul>

          </div>
        </div>

      </div>
      <div class="review-card">
        <div class="review-header">
          <img
            src="./img/reviews/pazzlefun.1x.png"
            class="profile-img"
            width="52"
            height="52"
            alt="pazzlefun"
          />
          <div class="review-info">
            <h3 class="review-name">PuzzleFan123</h3>
            <p class="review-date">10.04.2024</p>
            <p class="review-text">
              Can't stop playing! Each level offers something new.
            </p>
             <ul class="reviews-stars">
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-white-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-white-star"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-white-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-white-star"></use>
            </svg>
          </li>

         </ul>
          </div>
        </div>

      </div>
      <div class="review-card">
        <div class="review-header">
          <img
            src="./img/reviews/crystalhunter.1x.png"
            alt="crystalhunter"
            class="profile-img"
          />
          <div class="review-info">
            <h3 class="review-name">CrystalHunter</h3>
            <p class="review-date">15.04.2024</p>
            <p class="review-text">
              Great game with challen ging levels that keep you comming back for
              more
            </p>
            <ul class="reviews-stars">
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-white-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-white-star"></use>
            </svg>
          </li>

        </ul>
          </div>
        </div>

      </div>
      <div class="review-card">
        <div class="review-header">
          <img
            src="./img/reviews/matchmaster.1x.png"
            alt="matchmaster"
            class="profile-img"
          />
          <div class="review-info">
            <h3 class="review-name">MatchMaster</h3>
            <p class="review-date">21.04.2024</p>
            <p class="review-text">
              Beautiful and addictive higly recommended for puzzle lovers.
            </p>
            <ul class="reviews-stars">
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
        </ul>
          </div>
        </div>

      </div>
      <div class="review-card">
        <div class="review-header">
          <img
            src="./img/reviews/islandexplorer.1x.png"
            alt="islandexplorer"
            class="profile-img"
          />
          <div class="review-info">
            <h3 class="review-name">IslandExplorer</h3>
            <p class="review-date">23.05.2024</p>
            <p class="review-text">
              The updates always bring fresh content which is super exiting!
            </p>
            <ul class="reviews-stars">
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="14"
              height="15"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
        </ul>
          </div>
        </div>

      </div>


    </div>
   <div class="reviews-controls">
    <button type="button" id="prev" class="reviews-prev-btn">
      <svg width="21" height="37" aria-label="Previous slide">
        <use href="./img/sprite.svg#icon-Left_arrow"></use>
      </svg>
    </button>

    <button type="button" id="next" class="reviews-next-btn">
      <svg width="21" height="37" aria-label="Next slide">
        <use href="./img/sprite.svg#icon-Reght_arrow"></use>
      </svg>
    </button>
   </div>
   <div class="reviews-rund">
      <svg
      width="64"
      height="16"
      viewBox="0 0 64 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
       <circle cx="8" cy="8" r="8" fill="#435D5D" />
       <path
        d="M40 8C40 12.4183 36.4183 16 32 16C27.5817 16 24 12.4183 24 8C24 3.58172 27.5817 0 32 0C36.4183 0 40 3.58172 40 8ZM25.8369 8C25.8369 11.4038 28.5962 14.1631 32 14.1631C35.4038 14.1631 38.1631 11.4038 38.1631 8C38.1631 4.59623 35.4038 1.83693 32 1.83693C28.5962 1.83693 25.8369 4.59623 25.8369 8Z"
        fill="#435D5D" />
       <path
        d="M64 8C64 12.4183 60.4183 16 56 16C51.5817 16 48 12.4183 48 8C48 3.58172 51.5817 0 56 0C60.4183 0 64 3.58172 64 8ZM49.8369 8C49.8369 11.4038 52.5962 14.1631 56 14.1631C59.4038 14.1631 62.1631 11.4038 62.1631 8C62.1631 4.59623 59.4038 1.83693 56 1.83693C52.5962 1.83693 49.8369 4.59623 49.8369 8Z"
        fill="#435D5D"/>
     </svg>
   </div>
  <div class="swiper-pagination"></div>
</section>

