<!-- <section class="section" id="reviews">
  <h2 class="title-Reviews">Reviews</h2>
  <div class="reviews-container">
    <div class="reviews-slider">
      <div class="review-card">
        <div class="review-header">
          <img
            src="./img/reviews/gemseeker.1x.png"
            class="profile-img"
            width="52"
            height="52"
            alt="GemSeeker"
          />
          <div class="review-info">
            <h3 class="review-name">GemSeeker</h3>
            <p class="review-date">07.02.2024</p>
            <p class="review-text">
              Absolutely stunning visuals and really fun gameplay mechanics!
            </p>
          </div>
        </div>
        <div class="review-rating">
          <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span
          ><span>&#9733;</span><span>&#9733;</span>
        </div>
      </div>
      <div class="review-card">
        <div class="review-header">
          <img
            src="./img/reviews/pazzlefun.1x.png"
            class="profile-img"
            width="52"
            height="52"
            alt="pazzlefun"
          />
          <div class="review-info">
            <h3 class="review-name">PuzzleFan123</h3>
            <p class="review-date">10.04.2024</p>
            <p class="review-text">
              Can't stop playing! Each level offers something new.
            </p>
          </div>
        </div>
        <div class="review-rating">
          <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
        </div>
      </div>
      <div class="review-card">
        <div class="review-header">
          <img
            src="./img/reviews/crystalhunter.1x.png"
            alt="crystalhunter"
            class="profile-img"
          />
          <div class="review-info">
            <h3 class="review-name">CrystalHunter</h3>
            <p class="review-date">15.04.2024</p>
            <p class="review-text">
              Great game with challenging levels that keep you comming back for
              more
            </p>
          </div>
        </div>
        <div class="review-rating">
          <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span
          ><span>&#9733;</span>
        </div>
      </div>
      <div class="review-card">
        <div class="review-header">
          <img
            src="./img/reviews/matchmaster.1x.png"
            alt="matchmaster"
            class="profile-img"
          />
          <div class="review-info">
            <h3 class="review-name">MatchMaster</h3>
            <p class="review-date">21.04.2024</p>
            <p class="review-text">
              Beautiful and addictivehigly recommended for puzzle lovers.
            </p>
          </div>
        </div>
        <div class="review-rating">
          <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span
          ><span>&#9733;</span><span>&#9733;</span>
        </div>
      </div>
      <div class="review-card">
        <div class="review-header">
          <img
            src="./img/reviews/islandexplorer.1x.png"
            alt="islandexplorer"
            class="profile-img"
          />
          <div class="review-info">
            <h3 class="review-name">IslandExplorer</h3>
            <p class="review-date">23.05.2024</p>
            <p class="review-text">
              The updates always bring fresh content which is super exiting!
            </p>
          </div>
        </div>
        <div class="review-rating">
          <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span
          ><span>&#9733;</span><span>&#9733;</span>
        </div>
      </div>

  </div>
  <div class="reviews-controls">
    <button type="button" id="prev" class="reviews-prev-btn">
      <svg width="21" height="37" aria-label="Previous slide">
        <use href="./img/sprite.svg#icon-Left_arrow"></use>
      </svg>
    </button>

    <button type="button" id="next" class="reviews-next-btn">
      <svg width="21" height="37" aria-label="Next slide">
        <use href="./img/sprite.svg#icon-Reght_arrow"></use>
      </svg>
    </button>
  </div>
</section>
 -->
