.title-AboutUs {
font-family: Rubik;
font-weight: 500;
font-size: 44px;
line-height: 100%;
text-align: center;
color: #FFA600;
padding-bottom: 24px;
}
/* Основний контейнер */
.game-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Стилі для картинок */
.image-block img {
  width: 100%;
  object-fit: cover;
  display: none;
}

/* Секція опису */
.description-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 564px;
  min-height: 481px;
}

.description-text {
  font-size: 20px;
  font-weight: 400;
  align-items: center;
  line-height: 130%;
  padding-bottom: 8px;

}
.description-img-2{
  max-width: 288px;
  height: auto;


}

/* Медійні запити для адаптивності */
@media (min-width: 1200px) {
  .game-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .game-section {
    align-items: flex-start;

  }

  .image-block img {
    max-width: 100%;
    display: block;
  }

  .description-block {
    text-align: left;
    max-width: 564px;
    min-height: 481px;
    }
  .description-img-2{
    max-width: 564px;
    min-height: 268px;
    padding-top: 94px;
  }
}
