.adv-title {
  font-weight: 500;
  font-size: 36px;
  padding-bottom: 16px;
  line-height: 100%;
  text-align: center;
  color: var(--orange);
  @media screen and (min-width: 1200px) {
    padding-bottom: 24px;
    font-size: 44px;
  }
}
.adv-swiper {
  position: relative;
  overflow: hidden;
}


.adv-description {
  display: block;
  height: 53px;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  padding-bottom: 8px;
}

.adv-list {
  display: flex;
  position: relative;
  padding-bottom: 49px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 100px;
  }
}

.adv-list-item {
  position: relative;
  flex: 0;
}

.adv-img-wrap {
  width: 288px;
  overflow: hidden;
  border-radius: 8px;
  @media screen and (min-width: 1200px) {
    border-radius: 24px;
    width: 368px;
  }
}

div.swiper-pagination {
  z-index: 1;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

span.swiper-pagination-bullet {
  border: 2px solid #435d5d;
  opacity: 1;
  background-color: transparent;
  width: 16px;
  height: 16px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #435d5d;
}

div.adv-button-prev,
div.adv-button-next {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 619px;
    width: 20px;
    height: 37px;
    z-index: 1;
    cursor: pointer;
    color: #435d5d;

  }
}

div.adv-button-next {
  right: 400px;
}

div.adv-button-prev {
  left: 400px;
}


.adv-swiper-icon {
  /* box-sizing: border-box; */
  width: 100%;
  height: 100%;
  fill: #435d5d;
  transition: stroke var(--bezier);
}

svg.adv-swiper-icon:hover,
svg.adv-swiper-icon:focus {
  filter: drop-shadow(0 0 5px rgba(223, 218, 218, 0.7));
}

div.swiper-button-next::after,
div.swiper-button-prev::after {
  content: '';
}
