:root {
  font-family: Rubik, sans-serif;
  letter-spacing: 0;
  line-height: 100%;

}

body {
  color: #FFFEEC;
  background-color: rgb(68, 151, 130);
}
/* Styles for Mobile devices */
.section {
  padding-bottom: 60px;
}
.container {
  min-width: 320px;
  max-width: 375px;
  margin-left:  auto;
  margin-right: auto;
  padding: 0 16px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .section {
    padding-bottom: 120px;
  }
  .container {
    padding-inline: 24px;
    max-width: 1200px;
  }
}

/* elements visibility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
