.footer {
  background: #447875;
  min-height: 68px;
  }
.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  gap:16px;

}
.nav-list-footer{
  display: flex;
}

.text-footer {
font-weight: 400;
font-size: 14px;
line-height: 100%;
text-align: center;

}

.nav-link-footer {
  font-size: 12px;

}
  .nav-link-footer:hover,
  .nav-link-footer:focus {
    text-shadow: 0 1px 8px 0 #b3ab1d;
  }

  @media only screen and (min-width: 12000px) {
    .footer{
  min-height: 104px;


    }
    .container-footer {
    justify-content: flex-end;

    }
    .text-footer{
      font-size: 16px;

    }

    .nav-item-footer{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    gap: 24px;
    }
  .nav-link-footer{
    font-size: 16px;
  }

  }