.gallery-section {
  padding-bottom: 0;
   @media screen and (min-width: 1200px) {
    padding-bottom: 120px;
  }
}

.title-gallery {
  font-family: Rubik;
  font-weight: 500;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: var(--orange);
  padding-bottom: 16px;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    padding-bottom: 24px;
  }
}

.gallery-slider {
  position: relative;
  overflow: hidden;
  padding-bottom: 98px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 120px;
  }
}

.gallery {
  display: flex;
  position: relative;
  max-width: 320px;
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.gal-img-wrap {
  max-width: 288px;
  overflow: hidden;
  @media screen and (min-width: 1200px) {
    max-width: 368px;
  }
}

.gallery-item {
  position: relative;
  width: 100%;
  flex: 0;
}

.gallery-pagination {
  padding-bottom: 50px;
}

.gal-swiper-icon{
   width: 100%;
  height: 100%;
  fill: #435d5d;
  transition: stroke var(--bezier);

}
.gal-swiper-icon:hover {
  filter: drop-shadow(0 0 10px rgba(223, 218, 218, 0.7));
 

}
div.gal-button-prev,
div.gal-button-next {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
    top: 593px;
    width: 20px;
    height: 37px;
  }
}

div.gal-button-next {
  right: 416px;
}

div.gal-button-prev {
  left: 416px;
}