.gallery-container {
  max-width: 320px;
  @media screen and (min-width: 630px) {
    max-width: 630px;
  }
  @media screen and (min-width: 950px) {
    max-width: 950px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.title-gallery {
  font-weight: 500;
  font-size: 44px;
  line-height: 100%;
  text-align: center;
  color: var(--orange);
  padding-bottom: 24px;
}

.gallery-slider {
  position: relative;
  overflow: hidden;
}

.gallery {
  display: flex;
  position: relative;
  max-width: 320px;
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.gal-img-wrap {
  max-width: 288px;
  overflow: hidden;
  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

.gallery-item {
  position: relative;
  width: 100%;
  flex: 0;
}
