.title-Reviews {
font-family: Rubik;
font-weight: 500;
font-size: 44px;
line-height: 100%;
text-align: center;
color: #FFA600;
padding-bottom: 24px;
}
.reviews-container{
  overflow: hidden;
  position: relative;
  justify-content: center;
  width: 100%;


}
.reviews-slider{
  display: flex;
  gap:24px;
  position: relative;
  left: 0;
  transition: all 0.5s ease;


}
/* Основні стилі карточки */
.review-card {
    background-color: #4c8272;
    border-radius: 24px;
    padding: 11px 19px;
    width: 288px; /* або 270px для descktop версії */
    text-align: left;
    min-height: 134px;
    position: relative;

}

/* Стиль для верхньої частини (фото і інформація) */
.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.profile-img {
    max-width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;

}

.review-info {
    display: flex;
    flex-direction: column;
    width: 163px;
    height: 94px;
}

.review-name {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.review-date {
    font-size: 10px;

}

.review-text {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 16px;
    justify-content: flex-end;
    line-height: 100%;
}

/* Стиль для рейтингу (зірочок) */

.reviews-stars{
  display: flex;
  width: 86px;
  height: 15px;
  /* justify-content: center;
  align-items: center; */
  gap: 4px;

}
.reviews-stars-item {
  align-items: center;
}
.icon-white-star-reviews{
  fill:#fff7f7;
}

/* .review-rating span {
    font-size: 1.5rem;
    color:  #ffd233;
} */

.reviews-controls{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: transparent;
  padding-top: 26px;

}
.reviews-next-btn, .reviews-prev-btn{
  background-color: transparent;
  width: 34px;
  height: 68px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  fill: #435d5d;
}

.reviews-next-btn, .reviews-prev-btn:hover
.reviews-next-btn, .reviews-prev-btn:active
.reviews-next-btn, .reviews-prev-btn:focus{
  stroke: rgb(223, 218, 218, 0.7);
}