.title-reviews {
  font-family: Rubik;
  font-weight: 500;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: var(--orange);
  padding-bottom: 16px;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    padding-bottom: 24px;
  }
}

.reviews-slider {
  position: relative;
  overflow: hidden;
  padding-bottom: 48px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 62px;
  }
}

.reviews-list {
  display: flex;
  position: relative;
  max-width: 320px;
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

div.reviews-pagination {
  display: block;
}

/* Основні стилі карточки */
.review-card {
  background-color: #446168;
  border-radius: 24px;
  padding: 11px 19px;
  max-width: 288px;
  text-align: left;

}

/* Стиль для верхньої частини (фото і інформація) */
.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

}

.profile-img {
  max-width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}

.review-info {
  display: flex;
  flex-direction: column;
  width: 163px;

}

.review-name {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.review-date {
  font-size: 10px;
}

.review-text {
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 16px;
  justify-content: flex-end;
  line-height: 100%;
}

/* Стиль для рейтингу (зірочок) */
.reviews-stars {
  display: flex;
  width: 86px;
  height: 15px;
  gap: 4px;
}
.reviews-stars-item {
  align-items: center;
}
.icon-white-star-reviews {
  fill: #fff7f7;
}

@media only screen and (min-width: 1200px) {
  .reviews-container {
    max-width: 1200px;
    margin: 0 auto;
  }


}
